.control-panel{
  display: flex;
  flex:100%;
}
.status-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  .status{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    &:after{
      content: '';
      padding-top: 100%;
      float: left;
    }
  }
  .btn-main-menu{
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 5px;
    .stripe{
      width: 100%;
      height: 3px;
      background-color: white;
    }
  }
}

.main-menu{
  display: flex;
  flex:100%;
  position: absolute;
  transform: translateX(-90%);
  top:0;
  bottom:0;
  width: 100%;
  transition: transform .3s ease;
  .main-menu-content{
    display: flex;
    width: 90%;
    overflow-y: auto;
  }
  &.active{
    transform: translateX(0);
  }
}