*{
  box-sizing: border-box;
  -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color:transparent; /* prevent tap highlight color / shadow */
  -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.content{
  position: relative;
  overflow: hidden;
  height: 100%;
  &.extras{
    .controls{
      width: 20%;
      .control{
        width: 100%;
        height: 25%;
      }
    }
    .control-extras{
      display: block;
      width: 65%;
    }
    .main-menu{
      display: none;
    }
  }
  &.menu{
    .control-extras{
      display: none;
    }
    .controls{
      width: 20%;
      .control{
        width: 100%;
        height: 25%;
      }
    }
    .main-menu{
      display: block;
      width: 65%;
    }
  }
}
.controls{
  width: 85%;
  height: inherit;
  float: left;
  background-image: linear-gradient(to right, #000000 0%, #1c1c1c 100%);
}
.control-extras,
.main-menu,
.status-bar{
  width: 15%;
  height: inherit;
  float: left;
  overflow-y: auto;
  background-image: linear-gradient(to right, #000000 0%,#1c1c1c 100%);
}
.control-extras,
.main-menu{
  display: none;
  padding: 5px 10px;
}
.status-bar{
  float: right;
  .status{
    width: 100%;
    height: 25%;
    float: left;
    text-align: center;
    color: white;
  }
}
.btn-main-menu{
  padding: 35% 25%;
  .stripe{
    width: 100%;
    height: 2px;
    margin-bottom: 30%;
    background-color: white;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.main-menu{
  .menu-item{
    color: white;
    &.active{
      color: black;
      background-color: green;
    }
  }
}
.controls{
  overflow-y: auto;
  .control{
    width: 50%;
    height: 50%;
    padding: 10px;
    text-align: center;
    float: left;
    &.active{
      .btn-icon{
        svg{
          path{
            fill: yellow;
          }
        }
      }
    }
    .btn-control{
      width: 100%;
      height: 100%;
      .btn-icon{
        display: block;
        width:50%;
        height: 75%;
        margin: 0 auto;
      }
      .btn-text{
        margin-top: 5px;
        color: white;
        text-transform: uppercase;
        text-align: center;
      }
      svg{
        display: block;
        width: 100%;
        height: 100%;
        path{
          fill: white;
        }
      }
    }
  }
}
.control-text{
  margin: 0 0 5px 0;
  color:white;
}

